<% if @user.errors.any? %>
  <%= @user.errors.count %>prohibited this obj from being saved:
  <%= @user.errors.full_messages.each do |message| %>
  <%= message %>
  <% end %>
<% end %>

<div class="user-edit">
  <h1>User info</h1>
  <%= form_with model: @user, local: true do |f| %>
  
  <p>Name</p><br />
  <%= f.text_field :name %>
  
  <p>Image</p><br />
  <%= f.attachment_field :profile_image %>
  
  <p>Introduction</p><br />
  <%= f.text_area :introduction %><br />
  <%= f.submit "Update User" %>
  
  <% end %>
  </div>