<div class="container">
  <div class="row">
    
    <div class="col-md-3">
      <%= render 'books/list', book: @book, user: @user %>
    </div>

    <div class="mx-auto col-md-offset-1 col-md-8">
      <div class="books">
        <h1>Books</h1>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>image</th>
                <th>name</th>
                <th></th>
              </tr>
            </thead>
      
            <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td><%= attachment_image_tag user, :profile_image, size: "50x50" %></td>
                  <td><%= user.name %></td>
                  <td><%= link_to user_path(user.id) do %>Show<% end %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <%= paginate @users %>
      </div>
    </div>
      
  </div>
</div>