<div class="user">
  <h1>User info</h1>
  <%= attachment_image_tag @user, :profile_image, format: 'jpeg', size: "100x100" %>
  <table>
    <tbody>
      <tr>
        <td>name</td><td><%= @user.name %></td>
      </tr>
      <tr>
        <td>introduction</td><td><%= @user.introduction %></td>
      </tr>
    </tbody>
  </table>
  <%= link_to edit_user_path(@user) do %>Edit<% end %>
</div>

<div class="new-book">
  <h1>New book</h1>
  <%= form_with model:@book, local: true do |f| %>
    <p>Title</p>
    <%= f.text_field :title %>
    
    <p>Opinion</p>
    <%= f.text_area :body %>
    <%= f.submit 'Create Book' %>
  <% end %>
</div>

<div class="books">
  <h1>Books</h1>
    <table>
      <thead>
        <tr>
          <th>image</th>
          <th>name</th>
          <th></th>
        </tr>
      </thead>
      
    
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td>Image</td>
            <td><%= user.name %></td>
            <td><%= link_to user_path(user.id) do %>Show<% end %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>