<div class="container">
  <div class="row">
    <div class="col-md-10">

      <div class="book-edit">
        <h1>Editing Book</h1>
  
        <div class="errors text-danger">
          <% if @book.errors.any? %>
            <strong><%= @book.errors.count %>prohibited this obj from being saved:</strong>
            <%= @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          <% end %>
        </div>
  
        <%= form_with model: @book, local: true do |f| %>
        
        <div class="field">
          <%= f.label "Title" %><br />
          <%= f.text_field :title %>
        </div>
        
        <div class="field mt-3 mb-3">
          <%= f.label "Opinion" %><br />
          <%= f.text_area :body %><br />
          <%= f.submit 'Update Book', class: "btn btn-success mt-3" %>
        </div>
        <% end %>
  
        <p><%= link_to "Show", book_path(@book) %>|<%= link_to "Back", books_path %></p>
      </div>
      
    </div>
  </div>
</div>